<container id="masthead">
<div id=burgerimage>
<center><img src="https://img.clipartfest.com/2913076584b0a2cc782d33669783dc04_hamburger-sandwich-ten-mission-clipart-transparent-background_2400-2132.png" width="50%" height="50%"></center>
</div>
<div id="appTitle">
<h2 color="red"><center>Eat-Da-Burger</center></h2>
</div>
</container>

{{#each burgers}}
	{{#unless this.devoured}}
		{{this.burger_id}}{{this.burger_name}}
		<form action="/{{this.burger_name}}?_method=PUT" method="POST">
			<input type="hidden" name="devoured" value="true">
			<button type="submit">Devour It!</button>
		</form>
	{{/unless}}
{{/each}}

{{#each burgers}}
	{{#if this.devoured}}
		{{this.burger_id}}{{this.burger_name}}
		<form action="/{{this.burger_name}}?_method=PUT" method="POST">
			<input type="hidden" name="devoured" value="false">
		</form>
	{{/if}}
{{/each}}

<container id="mainArea">
<div class="row">
	<div class="col-xs-2">
<form class="create-add-form" action="/" method="POST">
	<div class="form-group">
		<textarea class="form-control" rows="2" id="burgerType" name="name"></textarea>
		{{!-- <input type="textarea" id="burgerType" name="name"> --}}
	</div>
	<button type="submit">Submit</button>
	</div>
</div>
</form>